<template id="complaints_info_template">
    <div style="max-height: 600px; overflow-y: auto; " class="flex-col margin-left-30 margin-right-30 margin-top-10"> 
        <div class="flex-row">
            <h3 style="max-width:93%;" class="flex-row-start-x"><b>Customer Complaints</b></h3>
        </div>
        <div style="max-height:540px;overflow-y:auto;">
            <table class="table">
                <thead>
                    <th>Account No</th>
                    <th>Authority</th>
                    <th>Ticket No</th>
                    <th>Complaint</th>
                    <th>Category ID</th>
                    <th>Source</th>
                    <th>Status</th>
                    <!-- <th>UP ASSET ID</th>
                    <th>UP CABLE</th> -->
                    <th>Class</th>
                    <th>Opened At</th>
                    <th>Closed At</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <template id="personalcomplaints">
            <tr class="item_parrent">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <!-- <td></td>
                <td></td> -->
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <h4 id="notfoundh1" style="color:#FF7518!important;; display:none; flex-direction:row; justify-content:center; align-items:center; text-align:center">
            </h4>
        </template>
    </div>
</template>