<div  id="edit_user" style="width:700px;" class="nk-add-product toggle-slide toggle-slide-right" data-content="createUser" data-toggle-screen="any" data-toggle-overlay="true" data-toggle-body="true" data-simplebar='1'>
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h5 id="create_edit_user_title" class="nk-block-title"></h5>
            <div class="nk-block-des">
                <div class="data-head">
                    <h5 class="overline-title">User Credentials</h5>
                </div>
            </div>
        </div>
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        <form [formGroup]="userForm" id="user_update_form" class="form-validate is-alter" autocomplete="off" (ngSubmit)="submit()">
            <div class="row g-3">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="product-title">Full User Name</label>
                        <div class="form-control-wrap">
                            <input formControlName="name" type="text" class="form-control shadow" id="username_update" appTitlecase/>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="regular-price">Email Address</label>
                        <div class="form-control-wrap">
                            <input formControlName="email" name="update_email" type="email" class="form-control shadow" id="update__email"/>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="sale-price">Password</label>
                        <div class="form-control-wrap">
                            <input formControlName="password" type="password" class="form-control shadow" id="password"/>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="sale-price">Confirm Password</label>
                        <div class="form-control-wrap">
                            <input  type="password" class="form-control shadow" id="password-again"/>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div style="width:100%" class="nk-block-des col-12">
                    <div style="width:100%" class="data-head col-12">
                        <h5 style="width:100%"  class="overline-title col-12">Access Rights and Permissions</h5>
                    </div>
                </div>
                
                <app-custom-select  name="position" [updatetitle]="title" [type]="'update-positions'" id="app-user-positions-update"  class="col-12 dropdown" [options]="positions" [defaultTitle]="'Select User Positiona'" ></app-custom-select>
                
                <hr>
                <div class="form-group col-12">
                    <h1 class="form-label bold" for="can-create-users"><b>Permissions</b></h1>
                </div> 
                <hr>
                <div class="col-3">
                    <div class="custom-control custom-control-sm custom-checkbox notext">
                        <input formControlName="can_create_user" type="checkbox" name="checkbox11" class="custom-control-input" name="can_create_user__update" id="can_create_user__update"/>
                        <label style="padding:10px;" class="custom-control-label" for="can_create_user__update">Can Create User</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="custom-control custom-control-sm custom-checkbox notext">
                        <input formControlName="can_create_customers"  type="checkbox" name="checkbox" class="custom-control-input" id="can_create_customer__update"/>
                        <label style="padding:10px;" class="custom-control-label" for="can_create_customer__update">Can Create/Update Customers</label>
                    </div>
                </div>
                
                <div class="col-5">
                    <div class="custom-control custom-control-sm custom-checkbox notext">
                        <input formControlName="can_approve"  type="checkbox" name="checkbox" class="custom-control-input" id="can_approve__update"/>
                        <label style="padding:10px;" class="custom-control-label" for="can_approve__update">Can Approve Customer Creation</label>
                    </div>
                </div>
                <hr>
                <div class="col-6">
                    <!-- <ng-container t-if="can_approve_caad"> -->
                    <div class="custom-control custom-control-sm custom-checkbox notext">
                        <input formControlName="can_approve_caad"  type="checkbox" name="can_approve_caad__update" class="custom-control-input" id="can_approve_caad__update"/>
                        <label style="padding:10px;" class="custom-control-label" for="can_approve_caad__update">Can Approve CAAD</label>
                    </div>
                    <!-- </ng-container> -->
                </div>
                <div class="col-6">
                    <ng-container t-if="can_manage_2fa">
                        <div class="custom-control custom-control-sm custom-checkbox notext">
                            <input formControlName="can_manage_2fa"  type="checkbox" name="checkbox" class="custom-control-input" id="can_manage_2fa__update"/>
                            <label style="padding:10px;" class="custom-control-label" for="can_manage_2fa__update">Can Manage 2FA</label>
                        </div>
                    </ng-container>
                </div>
                
                <hr>
                <br/>
                <div class="col-3">
                    <div class="form-check">
                        <input checked="false" (change)="radioPermissionsSelector($event,'Head Quarters')" type="radio" name="radio" class="form-check-input" id="hq_radio__update"/>
                        <label class="form-check-label" for="hq_radio__update">Head Quarters</label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input (change)="radioPermissionsSelector($event,'Region')" type="radio" name="radio" class="form-check-input" id="region_radio__update"/> 
                        <label class="form-check-label" for="region_radio__update">Region</label>
                    </div>
                </div>
                <div class="col-3"> 
                    <div class="form-check">
                        <input (change)="radioPermissionsSelector($event,'Business Hub')" type="radio" name="radio" class="form-check-input" id="bizhub_radio__update"/>
                        <label class="form-check-label" for="bizhub_radio__update">Business Hub</label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-check">
                        <input  (change)="radioPermissionsSelector($event,'Service Center')" type="radio" name="radio" class="form-check-input" id="service_center_radio__update"/>
                        <label class="form-check-label" for="service_center_radio__update">Service Center</label>  
                    </div>
                </div>
                <input formControlName="permission_hierarchy" [value]="permission_hierarchy" id="permission_hierarchy" name="permission_hierarchy" Type="text" hidden/>
                <hr>

                <ng-container *ngIf="permission_hierarchy=='Region'" id='regions_template_update'> 
                    <div class="form-group col-12">
                        <label class="form-label" for="sale-price">Regions</label>
                        <!-- <app-custom-select (selectionChange)="patchForm($event,'region')" [updatetitle]="user.region" [model]="'locations'"  class="col-12 dropdown" [type]="'regions'" [clearId]="'app-bizhubs-update'" id="app-regions-update" [options]="regions" [defaultTitle]="'Select Region'" ></app-custom-select> -->
                    </div>
                    <br/>
                    <br/>
                </ng-container>

                <ng-container *ngIf="permission_hierarchy=='Business Hub'" id='business_unit_template_update'>
                    <div class="form-group col-12">
                        <label class="form-label" for="sale-price">Regions</label>
                        <!-- <app-custom-select (selectionChange)="patchForm($event,'region')" [updatetitle]="user.region" [model]="'locations'"  class="col-12 dropdown" [type]="'regions'" [clearId]="'app-bizhubs-update'" id="app-regions-update" [options]="regions" [defaultTitle]="'Select Region'" ></app-custom-select> -->
                    </div> 

                    <div id="business_unit_radio" class="form-group col-12">
                        <label class="form-label" for="sale-price">Business Hub</label>
                        <!-- <app-custom-select (selectionChange)="patchForm($event,'bizhub')" [updatetitle]="user.business_unit" [model]="'locations'" (bizhubsEvent)="updateBizHubs($event,'app-bizhubs')" [clearId]="'app-servicecenters-update'" id="app-bizhubs-update"  class="col-12 dropdown" [type]="'bizhubs'" [options]="bizhubs" [defaultTitle]="'Select Business Hub'" ></app-custom-select> -->
                    </div>
                    <br/>
                    <br/>
                </ng-container> 

                <ng-container *ngIf="permission_hierarchy=='Service Center'" id='service_center_template_update'>
                    <div *ngIf="permission_hierarchy=='Service Center' || permission_hierarchy=='Business Hub' || permission_hierarchy=='Region'" class="form-group col-12">
                        <label class="form-label" for="sale-price">Regions</label>
                        <!-- <app-custom-select (selectionChange)="patchForm($event,'region')" [updatetitle]="user.region" [model]="'locations'"  class="col-12 dropdown" [type]="'regions'" [clearId]="'app-bizhubs-update'" id="app-regions-update" [options]="regions" [defaultTitle]="'Select Region'" ></app-custom-select> -->
                    </div>

                    <div *ngIf="permission_hierarchy=='Business Hub' || permission_hierarchy=='Service Center'" id="business_unit_radio" class="form-group col-12">
                        <label class="form-label" for="sale-price">Business Hub</label>
                        <!-- <app-custom-select (selectionChange)="patchForm($event,'bizhub')" [updatetitle]="user.business_unit" [model]="'locations'" (bizhubsEvent)="updateBizHubs($event,'app-bizhubs')" [clearId]="'app-servicecenters-update'" id="app-bizhubs-update"  class="col-12 dropdown" [type]="'bizhubs'" [options]="bizhubs" [defaultTitle]="'Select Business Hub'" ></app-custom-select> -->
                    </div>
                    <div *ngIf="permission_hierarchy=='Service Center'" id="service_center_radio" class="form-group col-12" >
                        <label class="form-label" for="sale-price">Service Center</label>
                        <!-- <app-custom-select (selectionChange)="patchForm($event,'servicecenter')" [updatetitle]="user.servicecenter" [model]="'locations'" (serviceCentersEvent)="updateServiceCenters($event,'')"  class="col-12 dropdown" [type]="''" id="app-servicecenters-update" [options]="servicecenters" [defaultTitle]="'Select Service Center'" ></app-custom-select> -->
                    </div>
                    <br/>
                    <br/>
        
                </ng-container>
                
                <hr>
                <br/>                                                    <!-- Template -->
                <div id='hierarchy_template_parent' class="form-group col-12"></div> 
                <ng-container > 
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="form-label">Groups</label>
                            <div class="form-control-wrap">
                                <select formControlName="groups" name="groups_sel_update" id="groups" appTitlecase class="form-select usergroups" multiple="multiple" data-placeholder="Select Multiple options">
                                    <option value="default_option">Default Option</option>
                                    <ng-container *ngFor="let group of groups;">
                                        <option value="{{group.id}}" >{{group.name}} </option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <br/>
                <br/>
                <ng-container t-if="can_manage_2fa">
                    <div style="width:100%" class="nk-block-des col-12">
                        <div style="width:100%" class="data-head col-12">
                            <h5 style="width:100%"  class="overline-title col-12">Two Factor Authentication</h5>
                        </div>
                    </div> 
                    <div class="col-3">
                        <div class="custom-control custom-control-sm custom-checkbox notext">
                            <input type="checkbox" name="checkbox" class="custom-control-input" id="enable_2fa"/>
                            <label style="padding:10px;" class="custom-control-label" for="enable_2fa">Enable 2FA</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button id="clear_2fa" type="button" style="width:100%;color:white;" class="btn btn-danger d-none d-md-inline-flex"><span>Clear 2FA Credentials</span></button>
                    </div>
                </ng-container>
                <div class="col-3">
                    <button id="create_edit_user_button__update"  type="submit" style="width:100%;color:white;" class="btn btn-primary create-edit"><em class="icon ni ni-edit"></em><span>Update User</span></button>
                </div>
                <div class="col-2">
                    <button id="exitbutton__update" (click)="exitForm()" type="button" style="width:100%;color:white;" class="btn btn-warning d-none d-md-inline-flex"><span>Exit</span></button>
                </div>
            </div>
        </form>
    </div><!-- .nk-block -->
</div>