<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://192.168.15.161:4200/assets/css/mail.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed;background-color:#f9f9f9" id="bodyTable">
    <tbody>
            <tr>
                    <td style="padding-right:10px;padding-left:10px;" align="center" valign="top" id="bodyCell">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="wrapperWebview" style="max-width:800px">
                                    <tbody>
                                            <tr>
                                                    <td align="center" valign="top">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                            <tr>

                                                                            </tr>
                                                                    </tbody>
                                                            </table>
                                                    </td>
                                            </tr>
                                    </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="wrapperBody" style="max-width:800px">
                                    <tbody>
                                            <tr>
                                                    <td align="center" valign="top">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="tableCard" style="background-color:#fff;border-color:#e5e5e5;border-style:solid;border-width:0 1px 1px 1px;">
                                                                    <tbody>
                                                                            <tr>
                                                                                    <td style="background-color:#00d2f4;font-size:1px;line-height:3px" class="topBorder" height="3">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                    <td style="padding-top: 60px; padding-bottom: 20px;" align="center" valign="middle" class="emailLogo">
                                                                                            <a href="#" style="text-decoration:none" target="_blank">
                                                                                                    <img alt="" border="0" src="http://192.168.15.161:4200/assets/docimages/logo-dark.png" style="width:100%;max-width:36px;max-height:60px;display:block" >
                                                                                            </a>
                                                                                    </td>
                                                                            </tr>
                                                                            <tr>
                                                                                    <td style="padding-bottom: 20px;" align="center" valign="top" class="imgHero">

                                                                                    </td>
                                                                            </tr>
                                                                            <tr>
                                                                                    <td style="padding-bottom: 5px; padding-left: 20px; padding-right: 20px;" align="center" valign="top" class="mainTitle">
                                                                                            <h2 class="text" style="color:#000;font-family:Poppins,Helvetica,Arial,sans-serif;font-size:28px;font-weight:500;font-style:normal;letter-spacing:normal;line-height:36px;text-transform:none;text-align:center;padding:0;margin:0">Hi "samson.ojo@ibedc.com"</h2>
                                                                                    </td>
                                                                            </tr>
                                                                            <tr>
                                                                                    <td style="padding-bottom: 30px; padding-left: 20px; padding-right: 20px;" align="center" valign="top" class="subTitle">
                                                                                            <h4 class="text" style="color:#999;font-family:Poppins,Helvetica,Arial,sans-serif;font-size:16px;font-weight:500;font-style:normal;letter-spacing:normal;line-height:24px;text-transform:none;text-align:center;padding:0;margin:0">Customer Account Adjustment Document Initiated</h4>
                                                                                            <p style="color:#999;font-family:Poppins,Helvetica,Arial,sans-serif;font-size:16px;font-weight:500;font-style:normal;letter-spacing:normal;line-height:24px;text-transform:none;text-align:center;padding:0;margin:0">Please conduct a second level validation at the premises of the customer in this mail</p>
                                                                                    </td>
                                                                            </tr>
                                                                            <tr>
                                                                                    <td style="padding-left:20px;padding-right:20px" align="center" valign="top"
class="containtTable ui-sortable">
                                                                                    <table>
                                                                                            <thead>
                                                                                                    <tr>
                                                                                                    <th>Variable</th>
                                                                                                    <th>Type</th>
                                                                                                    </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                    <tr>
                                                                                                    <td style="white-space:nowrap"><strong>Firstname</strong></td>
                                                                                                    <td style="white-space:nowrap">None</td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                    <td style="white-space:nowrap"><strong>Surname</strong></td>
                                                                                                    <td style="white-space:nowrap">Yusuf </td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                    <td style="white-space:nowrap"><strong>Othername</strong></td>
                                                                                                    <td style="white-space:nowrap">Bolaji Tijani   .</td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                    <td style="white-space:nowrap"><strong>Mobile</strong></td>
                                                                                                    <td style="white-space:nowrap">8104679290</td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                    <td style="white-space:nowrap"><strong>Account No</strong></td>
                                                                                                    <td style="white-space:nowrap">11/22/87/7491-01</td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                    <td style="white-space:nowrap"><strong>Meter No</strong></td>                                                                                                                <td style="white-space:nowrap">70004956598</td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                    <td style="white-space:nowrap"><strong>Address</strong></td>
                                                                                                    <td style="white-space:nowrap">No 5 Zone D Oke Sibaback Of Commandapataibadan</td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                    <td style="white-space:nowrap"><strong>Region</strong></td>
                                                                                                    <td style="white-space:nowrap">Ibadan</td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                    <td style="white-space:nowrap"><strong>Business Unit</strong></td>
                                                                                                    <td style="white-space:nowrap">Apata</td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                    <td style="white-space:nowrap"><strong>Service Center</strong></td>
                                                                                                    <td style="white-space:nowrap">OLUYOLE</td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                    <td style="white-space:nowrap"><strong>DSSID</strong></td>
                                                                                                    <td style="white-space:nowrap">None</td>
                                                                                                    </tr>
                                                                                            </tbody>
                                                                                            </table>

                                                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="tableButton" style="">
                                                                                                    <tbody>
                                                                                                            <tr>
                                                                                                                    <td style="padding-top:20px;padding-bottom:20px" align="center" valign="top">
                                                                                                                            <table border="0" cellpadding="0" cellspacing="0" align="center">
                                                                                                                                    <tbody>
                                                                                                                                            <tr>
                                                                                                                                                    <td style="background-color: rgb(0, 210, 244); padding: 12px 35px; border-radius: 50px;" align="center" class="ctaButton"> <a href="http://192.168.15.161:4200/customer/information/basic-information?accountno=11/22/87/7491-01&accounttype=Prepaid&meterno=70004956598" style="color:#fff;font-family:Poppins,Helvetica,Arial,sans-serif;font-size:13px;font-weight:600;font-style:normal;letter-spacing:1px;line-height:20px;text-transform:uppercase;text-decoration:none;display:block" target="_blank" class="text">View Customer Information</a>
                                                                                                                                                    </td>
                                                                                                                                            </tr>
                                                                                                                                    </tbody>
                                                                                                                            </table>
                                                                                                                    </td>
                                                                                                            </tr>
                                                                                                    </tbody>
                                                                                            </table>
                                                                                    </td>
                                                                            </tr>
                                                                            <tr>
                                                                                    <td style="font-size:1px;line-height:1px" height="20">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                    <td align="center" valign="middle" style="padding-bottom: 40px;" class="emailRegards">
                                                                                            <!-- Image and Link // -->

                                                                                    </td>
                                                                            </tr>
                                                                    </tbody>
                                                            </table>


                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="space">
                                                                    <tbody>
                                                                            <tr>
                                                                                    <td style="font-size:1px;line-height:1px" height="30">&nbsp;</td>
                                                                            </tr>
                                                                    </tbody>
                                                            </table>
                                                    </td>
                                            </tr>
                                    </tbody>
                            </table>

                    </td>
            </tr>
    </tbody>
</table>